*.code-workspace
project-4-scope.txt
color-reference.png
.vscode/
-----------
Resources
https://codepen.io/orrybaram/pen/NqvVeX
https://dribbble.com/shots/2356645-Bear-love
https://dribbble.com/shots/2011546-Community-Standards-Nature-Selfie
https://dribbble.com/shots/2007686-Community-Standards-Gettin-That-Angle
https://dribbble.com/shots/2010355-Community-Standards-Catching-Snowflakes
https://dribbble.com/shots/4681897-Travel#shot-description
-----------
Pixabay
key:13460553-36edb17dd643bfc7f36cf9eab
-----------------

Open Weather
https://openweathermap.org/
key: 69114812885d0951c849bf7d699853e9

-----------

To do:
- more animation
-----------
Scope Outline

Description:
App to find your next travel destination, and display useful information of that country

MVP:
Make call to api (https://restcountries.eu/rest/v2/all)
Display information from a random country

MVP Pseudocode:
1. On page load, make an api call in the back - returns an array
2. Wait for the user to click on a button
3. Each button click runs the following function
- randomize which of the 3 arrays
- randomize the object of the array 0-99
- from there, we want to get: capital, flag, name, languages object, subregion, currency or any other info
- display this to dom

Stretch goals:
Unsplash api - look for pictures of the country's attractions, display that in gallery area (max 6 photos)
Weather api - look up weather of capital city of that country
---------

- used "set" object to eliminate duplicates
- don't need user input, just a click of a button
- strategically chain our events - not make all calls all at once to slow down the page