@import 'setup';
@import 'global';
@import 'header';

// main content area

.flag-area {
    background-color: $yellow;
    position: relative;
    z-index: 999999999999;
}

.useful-info {
    background-color: $green;
}

.wrapper {
    max-width: 1200px;
    padding: 25px 0 50px 0;
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    @include for-tablet {
        width:100%; 
    }
    figure {
        width: 50%;
        @include for-tablet {
            width: 70%;
        }
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .country-name {
        font-size: 4rem;
    }
    h3 {
        font-size: 3rem;
        @include for-tablet {
            margin: 15px 0;
        }
    }
}

h2 {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 3.5rem;
    margin: 0;
    @include for-tablet {
        font-size: 2.5rem;
        width: 400px;
        line-height: 5rem;
    }
    @include for-mobile {
        width: 300px;
    }

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        justify-content: space-evenly;
        @include for-tablet {
            flex-direction: column;
            align-items: center;
        }
    }
    .row-content{
        display: flex;
        flex-direction: column;
        width: 33%;
        @include for-tablet {
            text-align: center;
            width: 100%;
        }
    }
}
.map {
    height: 400px;
    width: 100%;
}

.weather {
    background-color: $orange;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 4rem;
        }
        figure {
            border: 25px solid black;
            margin-top: 5%;
        }
    }
}

.section {
    height: 100vh;
    display: none;

}

.gallery {
    column-count: 3;
    column-gap: 10px;
    padding-top: 10px;
}

.gallery-image {
    img {
        width: 100%;
    }
}

section {
    display: none;
}

.footerLink {
    display: none;
    flex-direction: column;
}

footer{
    display: none;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}
