@import 'setup';
@import 'global';
@import 'header';

// main content area

.flag-area {
    background-color: $yellow;
    position: relative;
    z-index: 999999999999;
}

.useful-info {
    background-color: $green;
}

.wrapper {
    padding: 50px;
    width: 900px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h2 {
        font-family: 'Baloo Bhaina', cursive;
        font-size: 3.5rem;
        margin: 0;
    }
    figure {
        width: 70%;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .country-name {
        font-size: 4rem;
    }
    h3 {
        font-size: 3rem;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        justify-content: space-evenly;
    }
    .row-content{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}
.longitude, .latitude {
    display: none;
}
.map {
    height: 400px;
    width: 100%;
}